.input {
    position: relative;
    height: 3rem;
    background-color: $clr-light-grayish-cyan;

    &__field {
        position: absolute;
        top: 50%;
        right: 1.5rem;
        transform: translateY(-50%);
        width: 80%;
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 1.125rem;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}