$clr-strong-cyan: hsl(172, 67%, 45%);
$clr-very-dark-cyan: hsl(183, 100%, 15%);
$clr-dark-grayish-cyan-strong: hsl(186, 14%, 43%);
$clr-dark-grayish-cyan-weak: hsl(184, 14%, 56%);
$clr-light-grayish-cyan: hsl(185, 41%, 84%);
$clr-light-grayish-cyan: hsl(189, 41%, 97%);
$clr-white: hsl(0, 0%, 100%);